@charset "utf-8";

/**
 * @file
 * @desc 全局公用样式
 */

/**
 * 内外边距
 * @example 上外边距为20rpx(约为10px): mt-10
 *          右内边距为30rpx(约为15px): pr-15
 */
$distance: 0 6 10 14 16 20 24 30 40 50 60 70 80 90 100 120;

@each $size in $distance {
  .m-#{calc($size/2)} {
    margin: $size+px
}

.mt-#{calc($size/2)} {
  margin-top: $size+px;

}
.mr-#{calc($size/2)} {
  margin-right: $size+px;

}
.mb-#{calc($size/2)} {
  margin-bottom: $size+px;

}
.ml-#{calc($size/2)} {
  margin-left: $size+px;

}
.p-#{calc($size/2)} {
  padding: $size+px;

}
.pt-#{calc($size/2)} {
  padding-top: $size+px;

}
.pr-#{calc($size/2)} {
  padding-right: $size+px;

}
.pb-#{calc($size/2)} {
  padding-bottom: $size+px;

}
.pl-#{calc($size/2)} {
  padding-left: $size+px;

}
}


/**
 * 字体大小
 * @example 字体大小为 24rpx(约为12px): font-12
 */
$fontSize: 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 60;
@each $size in $fontSize {
  .font-#{calc($size/2)} {
    font-size: $size+px;

}
}

$boldList: 400 450 500 550 600 650 700 750 800 850 900;
@each $size in $boldList {
  .bold-#{$size} {
    font-weight:$size

  }
}

/**
 * 字体行高
 * @example 行高为 1.5em: lineH-15
 */
$lineH: 1 1.2 1.5 1.8 2 3;
@each $height in $lineH {
  .lineH-#{$height*10} {
    line-height: $height;

}
}

/**
 * 字重
 * @example  fontw-400
 */
$fontWeight: 300 400 500 600 700;
@each $weight in $fontWeight {
  .fontw-#{$weight} {
    font-weight: $weight;

}
}
